@{
    ViewBag.Title = "Pennvest - Contracts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-section-content row" style="">
    <div>
        <div id="employee-details-wrapper">
            <div id="employee-details" class="row">
                <div id="budget-current">
                    <span class="LblBlue">
                        CURRENT PENDING APPROVAL
                    </span>
                </div>
                <div style="overflow-x:auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>COST CATEGORY</th>
                                <th>PENNVEST FUNDING</th>
                                <th>OTHER FUNDING</th>
                                <th>TOTAL FUNDING</th>
                                <th>ADJUSTMENTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="CostCategoryLbl">Administrative Costs </td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl">Legal Fees</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl">Financing/Accounting Changes</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl">Interest During Construction</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl">Architecture Engineering Fees</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr>
                                <td colspan="12">
                                    <table class="nestedTable">
                                        <tr>
                                            <td>CONTRACT NAME</td>
                                            <td>VENDOR NAME</td>
                                            <td>PENNVEST</td>
                                            <td>OTHER SOURCES</td>
                                            <td>TOTAL</td>
                                            <td>APPROVAL</td>
                                        </tr>
                                        <tr>
                                            <td class="CostCategoryLbl">ABC Construction </td>
                                            <td class="FundingLbl">ABC Construction, Inc</td>
                                            <td class="FundingLbl">$199,842,329.00</td>
                                            <td class="FundingLbl">$241,976.00</td>
                                            <td class="FundingLbl">$235,450,491.00</td>
                                            <td> <a data-toggle="modal" data-target="#Approve" class="btn btn-primary"> REVIEW</a></td>
                                        </tr>
                                        <tr>
                                            <td class="CostCategoryLbl">XYZ Electrical</td>
                                            <td class="FundingLbl">XYZ Electrical Corporation</td>
                                            <td class="FundingLbl">$199,842,329.00</td>
                                            <td class="FundingLbl">$241,976.00</td>
                                            <td class="FundingLbl">$235,450,491.00</td>
                                            <td> <a data-toggle="modal" data-target="#Approve" class="btn btn-primary"> REVIEW</a></td>
                                        </tr>
                                        <tr>
                                            <td class="CostCategoryLbl">123 Plumbing </td>
                                            <td class="FundingLbl">123 Plumbing Corp</td>
                                            <td class="FundingLbl">$199,842,329.00</td>
                                            <td class="FundingLbl">$241,976.00</td>
                                            <td class="FundingLbl">$235,450,491.00</td>
                                            <td> <a data-toggle="modal" data-target="#Approve" class="btn btn-primary"> REVIEW</a></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="blueBoldLbl">$199,842,329.00</td>
                                            <td class="blueBoldLbl">$235,450,491.00</td>
                                            <td class="blueBoldLbl">$241,976.00</td>
                                            <td></td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl">Permits</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl">Land</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl">Construction</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl">Contingency</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl">Other</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Approve" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">APPROVE/DENY</h4>
            </div>
            <div class="modal-body" style="text-align:center;">
                <table class="col-md-12">
                    <tr class="spaceUnder">
                        <td></td>
                        <td class="product-name"> ABC Construction:&ensp;&ensp;	$199,842,329.00</td>
                        <td></td>
                    </tr>
                    <tr class="spaceUnder">
                        <td class="col-md-2"></td>
                        <td class="col-md-8 input-group">
                            <select class="col-md-2 form-control" id="AprrovalDdl">
                                <option value="1">Yes, I approve</option>
                                <option value="2">I Deny</option>
                            </select>
                        </td>
                        <td class="col-md-2"></td>
                    </tr>
                    <tr>
                        <td class="col-md-2"></td>
                        <td class="col-md-8 input-group">
                            <textarea class="form-control" rows="5" placeholder="Reason" required></textarea>
                        </td>
                        <td class="col-md-2"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="col-md-9">
                    <button type="button" class="btnPopup btn btn-primary pull-right" data-dismiss="modal">I APPROVE</button>
                </div>
            </div>
        </div>
    </div>
</div>




