
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-section-content row" style="">

    <div id="employee-details-wrapper">
        <div id="employee-details" class="row">
            <div id="budget-current">
                <span class="LblBlue">
                    MY PROJECTS
                </span>
            </div>
            @{
                for (int i = 0; i < 8; i++)
                {
                    <div class=" col-md-3 col-sm-4 col-xs-6">
                        <div class="thumbnail">
                            <p class="Status">STATUS: Final Amoritization</p>
                            <p class="MainBlueLbl">Freedom Tmp WSA: Sewage Treatment Plant</p>
                            <div class="ProjectsGraph col-md-12">
                                <p class="ProjectsGraphLbl">FUNDS AVAILABLE</p>
                                <span id="FundsAvailable" class="ProjectsGraphMainLbl">$62,032.97</span>
                                <div class="sparkline-container">
                                    <div class="k-chart" id="EmployeeQuarterSales" style="height: 30px; position: relative;" data-role="chart">
                                        <svg style="width: 100%; height: 100%; overflow: hidden; left: -0.328125px; top: -0.34375px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                                            <defs>
                                                <clipPath id="kdef31">
                                                    <path d="M5 5 L 331 5 331 20 5 20Z" stroke="#000" stroke-linejoin="miter" fill="none"></path>
                                                </clipPath>
                                            </defs>
                                            <g>
                                                <path d="M0 0 L 337 0 337 30 0 30Z" stroke="none" fill="white"></path>
                                                <path d="M5 5 L 331 5 331 20 5 20Z" stroke="none" fill="#fff" fill-opacity="0">
                                                </path>
                                                <g><g></g><g></g><g></g><g clip-path="url(#kdef31)"><g><g><g><path d="M5.5 10.5 L 128.5 10.5 128.5 16.5 5.5 16.5Z" stroke="#8ebc00" stroke-width="1" stroke-opacity="1" fill="#8ebc00" fill-opacity="1"></path><path d="M308.625 5 L 310.625 5 310.625 20 308.625 20Z" stroke="green" stroke-width="0" stroke-opacity="1" fill="#ff0000" fill-opacity="1"></path></g></g></g></g><g><g><path d="M5.5 20.5 L 331.5 20.5" stroke="#c7c7c7" stroke-width="1" fill="none"></path></g></g></g>
                                                <g></g>
                                            </g>
                                        </svg>
                                    </div>

                                </div>
                                <p class="ProjectsGraphLbl">CONTRACT APPROVAL</p>
                                <span id="ContractApproval" class="ProjectsGraphMainLbl">11/13</span>
                                <div class="sparkline-container">
                                    <div class="k-chart" id="EmployeeQuarterSales" style="height: 30px; position: relative;" data-role="chart">
                                        <svg style="width: 100%; height: 100%; overflow: hidden; left: -0.328125px; top: -0.34375px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                                            <defs>
                                                <clipPath id="kdef31">
                                                    <path d="M5 5 L 331 5 331 20 5 20Z" stroke="#000" stroke-linejoin="miter" fill="none">
                                                    </path>
                                                </clipPath>
                                            </defs>
                                            <g>
                                                <path d="M0 0 L 337 0 337 30 0 30Z" stroke="none" fill="white">
                                                </path>
                                                <path d="M5 5 L 331 5 331 20 5 20Z" stroke="none" fill="#fff" fill-opacity="0">
                                                </path>
                                                <g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g clip-path="url(#kdef31)">
                                                        <g>
                                                            <g>
                                                                <g>
                                                                    <path d="M5.5 10.5 L 128.5 10.5 128.5 16.5 5.5 16.5Z" stroke="#8ebc00" stroke-width="1" stroke-opacity="1" fill="#8ebc00" fill-opacity="1"></path>
                                                                    <path d="M308.625 5 L 310.625 5 310.625 20 308.625 20Z" stroke="green" stroke-width="0" stroke-opacity="1" fill="#ff0000" fill-opacity="1"></path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g><g><path d="M5.5 20.5 L 331.5 20.5" stroke="#c7c7c7" stroke-width="1" fill="none"></path></g></g>
                                                </g>
                                                <g></g>
                                            </g>
                                        </svg>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

