
@{
    ViewBag.Title = "Pennvest - Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-section-content row" style="">

    <div id="employee-details-wrapper">
        <div id="employee-details" class="row">
            <div id="budget-current">
                <span class="LblBlue">
                    ADVANCED SEARCH
                </span>
                <div class="container">
                    <div class="parent" style="padding-bottom:2%; padding-top:2%">
                        <table>
                            <tr>
                                <td class="col-md-1"><i class="fa fa-plus-circle" style="font-size:30px; padding:4%"></i></td>
                                <td class="col-md-3">
                                    <select class="col-md-2 form-control" id="AprrovalDd2">
                                        <option value="" disabled selected hidden>PROJECT TITLE</option>
                                        <option value="1">PROJECT TITLE-1</option>
                                        <option value="2">PROJECT TITLE-2</option>
                                    </select>
                                </td>
                                <td class="col-md-3">
                                    <input type="text" class="form-control"placeholder="Freedom _">
                                </td>
                                <td class="col-md-2">
                                    <input type="text" class="form-control" placeholder="And">
                                </td>
                                <td class="col-md-3">
                                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">SEARCH</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="budget-current">
                <span class="LblBlue">
                    MY PROJECTS
                </span>
            </div>
            <div class="container">
                <div>
                    <div class="parent" style="margin-top:3%">
                        <p class="Status" style="height:2%">SUBMITTED</p><br /><br /><br />
                        <i class="icon fa fa-arrow-circle-down  Dashboard-Info" style="color:#e2d9d9; font-size:18px"><span class="ProjectsMainLbl">Freedom Township Water & Sewer Authority: Sewage Treatment Plant</span></i>
                        <table class="col-md-12">
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">ID:</span><span>07027021102-CS</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Related:</span><span> No</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Legal Entity:</span><span>Freedom Township</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Loan:</span><span>72383</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Board Approval Date:</span><span>10/26/2011</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Specialist:</span><span>Teresa Schlupp</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">County:</span><span>Perry</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Business Pertner Number:</span><span>ABC01123</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Approved Loan Ammount:</span><span>$0.00</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Green Project:</span><span>No</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Settlement Date:</span><span>10/26/2011</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Related Project:</span><span></span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">DEP Region:</span><span>1234</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Approval Date:</span><span>10/26/2011</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Approval Grant Ammount:</span><span>$0.00</span>
                                </td>
                            </tr>
                        </table><br />
                        <div class="child container">
                            <div class="col-md-2 input-group pull-left" style="margin-top: 48px;">
                                <select class="col-md-2 form-control" id="AprrovalDd2">
                                    <option value="" disabled selected hidden>APPLICATION</option>
                                    <option value="1">APPLICATION-1</option>
                                    <option value="2">APPLICATION-2</option>
                                </select>
                            </div>
                            <div class="col-md-2 input-group pull-left" style="margin-top: 48px;">
                                <select class="col-md-2 form-control" id="AprrovalDd3">
                                    <option value="" disabled selected hidden>SETTLEMENT</option>
                                    <option value="1">SETTLEMENT-1</option>
                                    <option value="2">SETTLEMENT-2</option>
                                </select>
                            </div>
                            <div class="col-md-2 input-group pull-left" style="margin-top: 48px;">
                                <select class="col-md-2 form-control" id="AprrovalDd4">
                                    <option value="" disabled selected hidden>LOAN SERVICING</option>
                                    <option value="1">Project Contacts</option>
                                    <option value="2">Continuing Education Plan</option>
                                    <option value="3">Mailing Addresses</option>
                                    <option value="4">Financial Servicing Report</option>
                                </select>
                            </div>
                            <div class="col-md-3 input-group pull-left" style="margin-top: 48px;" title="FUNDS DISBURSMENT">
                                <select class="col-md-2 form-control" id="AprrovalDd5">
                                    <option value="" disabled selected hidden>FUNDS DISBURSMENT</option>
                                    <option value="1">FUNDS DISBURSMENT-1</option>
                                    <option value="2">FUNDS DISBURSMENT-2</option>
                                </select>
                            </div>
                            <div class="col-md-2 input-group pull-left" style="margin-top: 48px;padding-right: 3.8%;" title="SHARE">
                                <a class="col-md-2 form-control" id="AprrovalDdl" data-toggle="modal" data-target="#Contact" style="text-decoration: none !important;">SHARE &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<i class="fa fa-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="parent"  style="margin-top:3%">
                        <p class="Status" style="height:2%">SUBMITTED</p><br /><br /><br />
                        <i class="icon fa fa-arrow-circle-down  Dashboard-Info" style="color:#e2d9d9; font-size:18px"><span class="ProjectsMainLbl">Freedom Township Water & Sewer Authority: Sewage Treatment Plant</span></i>
                        <table class="col-md-12">
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">ID:</span><span>07027021102-CS</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Related:</span><span> No</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Legal Entity:</span><span>Freedom Township</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Loan:</span><span>72383</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Board Approval Date:</span><span>10/26/2011</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Specialist:</span><span>Teresa Schlupp</span>
                                </td>
                            </tr>
                        </table><br />
                        <div class="child container">
                            <div class="col-md-2 input-group pull-left" style="margin-top: 48px;">
                                <select class="col-md-2 form-control" id="AprrovalDd2">
                                    <option value="" disabled selected hidden>APPLICATION</option>
                                    <option value="1">APPLICATION-1</option>
                                    <option value="2">APPLICATION-2</option>
                                </select>
                            </div>
                            <div class="col-md-2 input-group pull-left" style="margin-top: 48px;">
                                <select class="col-md-2 form-control" id="AprrovalDd3">
                                    <option value="" disabled selected hidden>SETTLEMENT</option>
                                    <option value="1">SETTLEMENT-1</option>
                                    <option value="2">SETTLEMENT-2</option>
                                </select>
                            </div>
                            <div class="col-md-2 input-group pull-left" style="margin-top: 48px;">
                                <select class="col-md-2 form-control" id="AprrovalDd4">
                                    <option value="" disabled selected hidden>LOAN SERVICING</option>
                                    <option value="1">Project Contacts</option>
                                    <option value="2">Continuing Education Plan</option>
                                    <option value="3">Mailing Addresses</option>
                                    <option value="4">Financial Servicing Report</option>
                                </select>
                            </div>
                            <div class="col-md-3 input-group pull-left" style="margin-top: 48px;" title="FUNDS DISBURSMENT">
                                <select class="col-md-2 form-control" id="AprrovalDd5">
                                    <option value="" disabled selected hidden>FUNDS DISBURSMENT</option>
                                    <option value="1">FUNDS DISBURSMENT-1</option>
                                    <option value="2">FUNDS DISBURSMENT-2</option>
                                </select>
                            </div>
                            <div class="col-md-2 input-group pull-left" style="margin-top: 48px;padding-right: 3.8%;" title="SHARE">
                                <a class="col-md-2 form-control" id="AprrovalDdl" data-toggle="modal" data-target="#Contact" style="text-decoration: none !important;">SHARE &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<i class="fa fa-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="parent"  style="margin-top:3%">
                        <p class="Status" style="height:2%">SUBMITTED</p><br /><br /><br />
                        <i class="icon fa fa-arrow-circle-down  Dashboard-Info" style="color:#e2d9d9; font-size:18px"><span class="ProjectsMainLbl">Freedom Township Water & Sewer Authority: Sewage Treatment Plant</span></i>
                        <table class="col-md-12">
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">ID:</span><span>07027021102-CS</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Related:</span><span> No</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Legal Entity:</span><span>Freedom Township</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Loan:</span><span>72383</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Board Approval Date:</span><span>10/26/2011</span>
                                </td>
                            </tr>
                            <tr class="col-md-4 Project-Info">
                                <td>
                                    <span class="info">Specialist:</span><span>Teresa Schlupp</span>
                                </td>
                            </tr>
                        </table><br />
                        <div class="child container">
                            <div class="col-md-2 input-group pull-left" style="margin-top: 48px;">
                                <select class="col-md-2 form-control" id="AprrovalDd2">
                                    <option value="" disabled selected hidden>APPLICATION</option>
                                    <option value="1">APPLICATION-1</option>
                                    <option value="2">APPLICATION-2</option>
                                </select>
                            </div>
                            <div class="col-md-2 input-group pull-left" style="margin-top: 48px;">
                                <select class="col-md-2 form-control" id="AprrovalDd3">
                                    <option value="" disabled selected hidden>SETTLEMENT</option>
                                    <option value="1">SETTLEMENT-1</option>
                                    <option value="2">SETTLEMENT-2</option>
                                </select>
                            </div>
                            <div class="col-md-2 input-group pull-left" style="margin-top: 48px;">
                                <select class="col-md-2 form-control" id="AprrovalDd4">
                                    <option value="" disabled selected hidden>LOAN SERVICING</option>
                                    <option value="1">Project Contacts</option>
                                    <option value="2">Continuing Education Plan</option>
                                    <option value="3">Mailing Addresses</option>
                                    <option value="4">Financial Servicing Report</option>
                                </select>
                            </div>
                            <div class="col-md-3 input-group pull-left" style="margin-top: 48px;" title="FUNDS DISBURSMENT">
                                <select class="col-md-2 form-control" id="AprrovalDd5">
                                    <option value="" disabled selected hidden>FUNDS DISBURSMENT</option>
                                    <option value="1">FUNDS DISBURSMENT-1</option>
                                    <option value="2">FUNDS DISBURSMENT-2</option>
                                </select>
                            </div>
                            <div class="col-md-2 input-group pull-left" style="margin-top: 48px;padding-right: 3.8%;" title="SHARE">
                                <a class="col-md-2 form-control" id="AprrovalDdl" data-toggle="modal" data-target="#Contact" style="text-decoration: none !important;">SHARE &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<i class="fa fa-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="    margin-right: 30px !important; margin-left: 270px !important;">
        <div class="modal-content" style="width: 800px !important;">
            <div class="modal-headers">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="height:600px">
                <div id="employee-about">
                    <div class="row" style="height:100%">
                        <i class="icon fa fa-arrow-circle-down  Dashboard-Info" style="color:#e2d9d9; font-size:18px"><span class="ProjectsMainLbl">Freedom Township Water &amp; Sewer Authority: Sewage Treatment Plant</span></i>
                        <div id="employeeBio" data-role="tooltip">
                            <div class="col-md-12" style="overflow-x:auto;">
                                <table class="col-md-12">
                                    <tbody>
                                        <tr class="col-md-5 Dashboard-Info">
                                            <td>
                                                <span class="info">ID:</span><span>07027021102-CS</span>
                                            </td>
                                        </tr>
                                        <tr class="col-md-7 Dashboard-Info">
                                            <td>
                                                <span class="info">Company:</span><span> Freedom Water and Sewer Authority</span>
                                            </td>
                                        </tr>
                                        <tr class="col-md-5 Dashboard-Info">
                                            <td>
                                                <span class="info">Loan:</span><span>72383</span>
                                            </td>
                                        </tr>
                                        <tr class="col-md-7 Dashboard-Info">
                                            <td>
                                                <span class="info">Legal Entity:</span><span>Freedom Township</span>
                                            </td>
                                        </tr>
                                        <tr class="col-md-5 Dashboard-Info">
                                            <td>
                                                <span class="info">Status:</span><span>Final Amoritization</span>
                                            </td>
                                        </tr>
                                        <tr class="col-md-7 Dashboard-Info">
                                            <td>
                                                <span class="info">Business Pertner Number:</span><span>ABC01123</span>
                                            </td>
                                        </tr>
                                        <tr class="col-md-5 Dashboard-Info">
                                            <td>
                                                <span class="info">Specialist:</span><span>Teresa Schlupp</span>
                                            </td>
                                        </tr>
                                        <tr class="col-md-7 Dashboard-Info">
                                            <td>
                                                <span class="info">Approval Date:</span><span>10/26/2011</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" style="max-width: 800px !important; margin-top: 2%;">
                    <ul class="nav nav-tabs" style="width: 95%;">
                        <li class="active"><a href="#" style="color:#c2bebe">CONTACTS</a></li>
                        <li><a href="#"><i class="icon fa fa-bookmark"></i>SHARE POLICY</a></li>
                        <li><a href="#"><i class="icon fa fa-user"></i>ROLES</a></li>
                        <li><a href="#"><i class="icon fa fa-list-alt"></i>HOW TO</a></li>
                    </ul>
                    <br />
                    <div style="overflow-x:auto;">
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th style="color:#c2bebe">CONTACT</th>
                                    <th style="color:#c2bebe">ROLE</th>
                                    <th style="color:#c2bebe">EMAIL</th>
                                    <th style="color:#c2bebe">PHONE</th>
                                    <th style="color:#c2bebe">EXT</th>
                                    <th style="color:#c2bebe">PE#</th>
                                    <th style="color:#c2bebe">ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (int i = 0; i < 9; i++)
                                    {
                                        <tr>
                                            <td style="color:#428bca; font-weight:bold">Kiana Tralongo</td>
                                            <td>Project Specialist</td>
                                            <td>pvclients2@hrg-inc.com</td>
                                            <td>555-123-4567</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td><i class="icon "></i> <i class="icon fa fa-edit"></i></td>
                                        </tr>
                                    }
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">CANCLE</button>
                </div>
            </div>
        </div>
    </div>
</div>