@{
    ViewBag.Title = "Pennvest - Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-section-content row" style="">
    <div>
        <div id="employee-details-wrapper">
            <div id="employee-details" class="row">
                <div id="employee-about">
                    <div class="row" style="height:100%">
                        <div id="employeeBio" class="col-xs-12 col-sm-8" data-role="tooltip">
                            <div>
                                <i class="icon fa fa-arrow-circle-down  Dashboard-Info" style="color:#e2d9d9; font-size:18px;"><span class="MainLbl" colspan="12">Freedom Township Water &amp; Sewer Authority: Sewage Treatment Plant</span></i>
                                <table class="col-md-12">
                                    <tr class="col-md-5 Dashboard-Info">
                                        <td>
                                            <span class="info">ID:</span><span>07027021102-CS</span>
                                        </td>
                                    </tr>
                                    <tr class="col-md-7 Dashboard-Info">
                                        <td>
                                            <span class="info">Company:</span><span> Freedom Water and Sewer Authority</span>
                                        </td>
                                    </tr>
                                    <tr class="col-md-5 Dashboard-Info">
                                        <td>
                                            <span class="info">Loan:</span><span>72383</span>
                                        </td>
                                    </tr>
                                    <tr class="col-md-7 Dashboard-Info">
                                        <td>
                                            <span class="info">Legal Entity:</span><span>Freedom Township</span>
                                        </td>
                                    </tr>
                                    <tr class="col-md-5 Dashboard-Info">
                                        <td>
                                            <span class="info">Status:</span><span>Final Amoritization</span>
                                        </td>
                                    </tr>
                                    <tr class="col-md-7 Dashboard-Info">
                                        <td>
                                            <span class="info">Business Pertner Number:</span><span>ABC01123</span>
                                        </td>
                                    </tr>
                                    <tr class="col-md-5 Dashboard-Info">
                                        <td>
                                            <span class="info">Specialist:</span><span>Teresa Schlupp</span>
                                        </td>
                                    </tr>
                                    <tr class="col-md-7 Dashboard-Info">
                                        <td>
                                            <span class="info">Approval Date:</span><span>10/26/2011</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p style="margin-top:8%">FUNDS AVAILABLE</p>
                            <span id="FundsAvailable" class="LblGreen">$62,032.97</span>
                            <div class="sparkline-container">
                                <div class="k-chart" id="EmployeeQuarterSales" style="height: 30px; position: relative;" data-role="chart">
                                    <svg style="width: 100%; height: 100%; overflow: hidden; left: -0.328125px; top: -0.34375px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                                        <defs>
                                            <clipPath id="kdef31">
                                                <path d="M5 5 L 331 5 331 20 5 20Z" stroke="#000" stroke-linejoin="miter" fill="none"></path>
                                            </clipPath>
                                        </defs>
                                        <g>
                                            <path d="M0 0 L 337 0 337 30 0 30Z" stroke="none" fill="#F5F5F5"></path>
                                            <path d="M5 5 L 331 5 331 20 5 20Z" stroke="none" fill="#fff" fill-opacity="0">
                                            </path>
                                            <g><g></g><g></g><g></g><g clip-path="url(#kdef31)"><g><g><g><path d="M5.5 10.5 L 128.5 10.5 128.5 16.5 5.5 16.5Z" stroke="#8ebc00" stroke-width="1" stroke-opacity="1" fill="#8ebc00" fill-opacity="1"></path><path d="M308.625 5 L 310.625 5 310.625 20 308.625 20Z" stroke="green" stroke-width="0" stroke-opacity="1" fill="#ff0000" fill-opacity="1"></path></g></g></g></g><g><g><path d="M5.5 20.5 L 331.5 20.5" stroke="#c7c7c7" stroke-width="1" fill="none"></path></g></g></g>
                                            <g></g>
                                        </g>
                                    </svg>
                                </div>

                            </div>
                            <p>CONTRACT APPROVAL</p>
                            <span id="ContractApproval" class="LblGreen">11/13</span>
                            <div class="sparkline-container">
                                <div class="k-chart" id="EmployeeQuarterSales" style="height: 30px; position: relative;" data-role="chart">
                                    <svg style="width: 100%; height: 100%; overflow: hidden; left: -0.328125px; top: -0.34375px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                                        <defs>
                                            <clipPath id="kdef31">
                                                <path d="M5 5 L 331 5 331 20 5 20Z" stroke="#000" stroke-linejoin="miter" fill="none">
                                                </path>
                                            </clipPath>
                                        </defs>
                                        <g>
                                            <path d="M0 0 L 337 0 337 30 0 30Z" stroke="none" fill="#F5F5F5">
                                            </path>
                                            <path d="M5 5 L 331 5 331 20 5 20Z" stroke="none" fill="#fff" fill-opacity="0">
                                            </path>
                                            <g>
                                                <g></g>
                                                <g></g>
                                                <g></g>
                                                <g clip-path="url(#kdef31)">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path d="M5.5 10.5 L 128.5 10.5 128.5 16.5 5.5 16.5Z" stroke="#8ebc00" stroke-width="1" stroke-opacity="1" fill="#8ebc00" fill-opacity="1"></path>
                                                                <path d="M308.625 5 L 310.625 5 310.625 20 308.625 20Z" stroke="green" stroke-width="0" stroke-opacity="1" fill="#ff0000" fill-opacity="1"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                                <g><g><path d="M5.5 20.5 L 331.5 20.5" stroke="#c7c7c7" stroke-width="1" fill="none"></path></g></g>
                                            </g>
                                            <g></g>
                                        </g>
                                    </svg>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="budget-current">
                    <ul class="panelbar">
                        <li class="CostCategoryBlueLbl">
                            <span class="CostCategoryBlueLbl">
                                TEMPLATES
                            </span>
                            <ul>
                                <li>TEMPLATES 1</li>
                                <li>TEMPLATES 2</li>
                                <li>TEMPLATES 3</li>
                                <li>TEMPLATES 4</li>
                            </ul>
                        </li>
                        <li class="CostCategoryBlueLbl">
                            <span class="CostCategoryBlueLbl">
                                COST SHEETS
                            </span>
                            <ul>
                                <li>COST SHEETS 1</li>
                                <li>COST SHEETS 2</li>
                                <li>COST SHEETS 3</li>
                                <li>COST SHEETS 4</li>
                            </ul>
                        </li>
                        <li class="CostCategoryBlueLbl">
                            <span class="CostCategoryBlueLbl">
                                CURRENT BUDGET
                            </span>
                            <ul>
                                <li>CURRENT BUDGET 1</li>
                                <li>CURRENT BUDGET 2</li>
                                <li>CURRENT BUDGET 3</li>
                                <li>CURRENT BUDGET 4</li>
                            </ul>
                        </li>
                        <li class="CostCategoryBlueLbl">
                            <span class="CostCategoryBlueLbl">
                                CONTRACT DOCUMENTS
                            </span>
                            <ul>
                                <li>CONTRACT DOCUMENTS 1</li>
                                <li>CONTRACT DOCUMENTS 2</li>
                                <li>CONTRACT DOCUMENTS 3</li>
                                <li>CONTRACT DOCUMENTS 4</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="employee-details-wrapper">
                <div id="employee-details" class="row">
                    <div style="overflow-x:auto;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>DOCUMENTS</th>
                                    <th>CONTACT</th>
                                    <th>FORMATE</th>
                                    <th>DATE</th>
                                    <th>SIZE</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="CostCategoryBlueLbl">Pennvest-Cost-Sheet-Template-May-4-2018.xlsx</td>
                                    <td class="FundingLbl">John Smith </td>
                                    <td class="FundingLbl">XLS</td>
                                    <td class="FundingLbl">May 4, 2018</td>
                                    <td class="FundingLbl">14KB</td>
                                </tr>
                                <tr>
                                    <td class="CostCategoryBlueLbl">Pennvest-Cost-Sheet-Template-May-4-2018.xlsx</td>
                                    <td class="FundingLbl">John Smith </td>
                                    <td class="FundingLbl">XLS</td>
                                    <td class="FundingLbl">May 4, 2018</td>
                                    <td class="FundingLbl">14KB</td>
                                </tr>
                                <tr>
                                    <td class="CostCategoryBlueLbl">Pennvest-Cost-Sheet-Template-May-4-2018.xlsx</td>
                                    <td class="FundingLbl">John Smith </td>
                                    <td class="FundingLbl">XLS</td>
                                    <td class="FundingLbl">May 4, 2018</td>
                                    <td class="FundingLbl">14KB</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-md-7" style="margin-bottom:2%"><a class="btn btn-primary pull-right"> UPLOAD NEW DOCUMENT</a></div>
                    </div>
                    <div id="employee-details-wrapper">
                        <div id="employee-details" class="row">
                            <div class="budget-current">
                                <ul class="panelbar">
                                    <li class="CostCategoryBlueLbl">
                                        <span class="CostCategoryBlueLbl">PAYMENT REQUEST DOCUMENTS</span>
                                        <ul>
                                            <li>PAYMENT REQUEST DOCUMENTS 1</li>
                                            <li>PAYMENT REQUEST DOCUMENTS 2</li>
                                            <li>PAYMENT REQUEST DOCUMENTS 3</li>
                                            <li>PAYMENT REQUEST DOCUMENTS 4</li>
                                        </ul>
                                    </li>
                                    <li class="CostCategoryBlueLbl">
                                        <span class="CostCategoryBlueLbl">
                                            CLOSEOUT DOCUMENTS
                                        </span>
                                        <ul>
                                            <li>CLOSEOUT DOCUMENTS 1</li>
                                            <li>CLOSEOUT DOCUMENTS 2</li>
                                            <li>CLOSEOUT DOCUMENTS 3</li>
                                            <li>CLOSEOUT DOCUMENTS 4</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Approve" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="border-radius:0px !important;">&times;</button>
                <h4 class="modal-title" id="myModalLabel">APPROVE/DENY</h4>
            </div>
            <div class="modal-body" style="text-align:center;">
                <table class="col-md-12">
                    <tr class="spaceUnder">
                        <td></td>
                        <td class="product-name"> ABC Construction:&ensp;&ensp;	$199,842,329.00</td>
                        <td></td>
                    </tr>
                    <tr class="spaceUnder">
                        <td class="col-md-2"></td>
                        <td class="col-md-8 input-group">
                            <select class="col-md-2 form-control" id="AprrovalDdl">
                                <option value="1">Yes, I approve</option>
                                <option value="2">I Deny</option>
                            </select>
                        </td>
                        <td class="col-md-2"></td>
                    </tr>
                    <tr>
                        <td class="col-md-2"></td>
                        <td class="col-md-8 input-group">
                            <textarea class="form-control" rows="5" placeholder="Reason" required></textarea>
                        </td>
                        <td class="col-md-2"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="col-md-9">
                    <button type="button" class="btnPopup btn btn-primary pull-right" data-dismiss="modal" style="border-radius:0px !important;">I APPROVE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Accordian.js"></script>