@{
    ViewBag.Title = "Pennvest - Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-section-content row" style="">
    <div>
        <div id="employee-details-wrapper">
            <div id="employee-details" class="row">
                <div id="employee-about">
                    <table>
                        <tr>
                            <td colspan="12">
                                <i class="k-icon k-i-arrow-down" style="padding-left:70px;color:#e2d9d9; font-size:18px;"></i>
                                @*<i class="fa fa-arrow-circle-down" style="padding-left:20px;color:#e2d9d9; font-size:18px;"></i>*@
                                <span class="MainLbl">Freedom Township Water & Sewer Authority: Sewage Treatment Plant</span>
                            </td>
                        </tr>
                        <tr class="col-md-7"></tr>
                    </table>

                    <div class="row" style="height:100%">
                        @*<h4 class="MainLbl">Freedom Township Water & Sewer Authority: Sewage Treatment Plant</h4>*@
                        <div id="employeeBio" data-role="tooltip">
                            <div class="col-md-8" style="overflow-x:auto;">
                                <table class="col-md-12 ">
                                    <tr class="col-md-5 Dashboard-Info">
                                        <td>
                                            <span class="info">ID:</span><span>&ensp;&ensp;07027021102-CS</span>
                                        </td>
                                    </tr>
                                    <tr class="col-md-7 Dashboard-Info">
                                        <td>
                                            <span class="info">Company:</span><span>&ensp;Freedom Water and Sewer Authority</span>
                                        </td>
                                    </tr>
                                    <tr class="col-md-5 Dashboard-Info">
                                        <td>
                                            <span class="info">Loan:</span><span>&ensp;&ensp;72383</span>
                                        </td>
                                    </tr>
                                    <tr class="col-md-7 Dashboard-Info">
                                        <td>
                                            <span class="info">Legal Entity:</span><span>&ensp;&ensp;Freedom Township</span>
                                        </td>
                                    </tr>
                                    <tr class="col-md-5 Dashboard-Info">
                                        <td>
                                            <span class="info">Status:</span><span>&ensp;&ensp;Final Amoritization</span>
                                        </td>
                                    </tr>
                                    <tr class="col-md-7 Dashboard-Info">
                                        <td>
                                            <span class="info">Business Pertner Number:</span><span>&ensp;&ensp;ABC01123</span>
                                        </td>
                                    </tr>
                                    <tr class="col-md-5 Dashboard-Info">
                                        <td>
                                            <span class="info">Specialist:</span><span>&ensp;&ensp;Teresa Schlupp</span>
                                        </td>
                                    </tr>
                                    <tr class="col-md-7 Dashboard-Info">
                                        <td>
                                            <span class="info">Approval Date:</span><span>&ensp;&ensp;10/26/2011</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-4" style="margin-top:-6%">
                                <p style="margin-top:8%">FUNDS AVAILABLE</p>
                                <span id="FundsAvailable" class="LblGreen">$62,032.97</span>
                                <div class="sparkline-container">
                                    <div class="k-chart" id="EmployeeQuarterSales" style="height: 30px; position: relative;" data-role="chart">
                                        <svg style="width: 100%; height: 100%; overflow: hidden; left: -0.328125px; top: -0.34375px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                                            <defs>
                                                <clipPath id="kdef31">
                                                    <path d="M5 5 L 331 5 331 20 5 20Z" stroke="#000" stroke-linejoin="miter" fill="none"></path>
                                                </clipPath>
                                            </defs>
                                            <g>
                                                <path d="M0 0 L 337 0 337 30 0 30Z" stroke="none" fill="#F5F5F5"></path>
                                                <path d="M5 5 L 331 5 331 20 5 20Z" stroke="none" fill="#fff" fill-opacity="0">
                                                </path>
                                                <g><g></g><g></g><g></g><g clip-path="url(#kdef31)"><g><g><g><path d="M5.5 10.5 L 128.5 10.5 128.5 16.5 5.5 16.5Z" stroke="#8ebc00" stroke-width="1" stroke-opacity="1" fill="#8ebc00" fill-opacity="1"></path><path d="M308.625 5 L 310.625 5 310.625 20 308.625 20Z" stroke="green" stroke-width="0" stroke-opacity="1" fill="#ff0000" fill-opacity="1"></path></g></g></g></g><g><g><path d="M5.5 20.5 L 331.5 20.5" stroke="#c7c7c7" stroke-width="1" fill="none"></path></g></g></g>
                                                <g></g>
                                            </g>
                                        </svg>
                                    </div>

                                </div>
                                <p>CONTRACT APPROVAL</p>
                                <span id="ContractApproval" class="LblGreen">11/13</span>
                                <div class="sparkline-container">
                                    <div class="k-chart" id="EmployeeQuarterSales" style="height: 30px; position: relative;" data-role="chart">
                                        <svg style="width: 100%; height: 100%; overflow: hidden; left: -0.328125px; top: -0.34375px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                                            <defs>
                                                <clipPath id="kdef31">
                                                    <path d="M5 5 L 331 5 331 20 5 20Z" stroke="#000" stroke-linejoin="miter" fill="none">
                                                    </path>
                                                </clipPath>
                                            </defs>
                                            <g>
                                                <path d="M0 0 L 337 0 337 30 0 30Z" stroke="none" fill="#F5F5F5">
                                                </path>
                                                <path d="M5 5 L 331 5 331 20 5 20Z" stroke="none" fill="#fff" fill-opacity="0">
                                                </path>
                                                <g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g clip-path="url(#kdef31)">
                                                        <g>
                                                            <g>
                                                                <g>
                                                                    <path d="M5.5 10.5 L 128.5 10.5 128.5 16.5 5.5 16.5Z" stroke="#8ebc00" stroke-width="1" stroke-opacity="1" fill="#8ebc00" fill-opacity="1"></path>
                                                                    <path d="M308.625 5 L 310.625 5 310.625 20 308.625 20Z" stroke="green" stroke-width="0" stroke-opacity="1" fill="#ff0000" fill-opacity="1"></path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g><g><path d="M5.5 20.5 L 331.5 20.5" stroke="#c7c7c7" stroke-width="1" fill="none"></path></g></g>
                                                </g>
                                                <g></g>
                                            </g>
                                        </svg>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="budget-current">
                    <ul class="panelbar">
                        <li class="CostCategoryBlueLbl accordian">
                            <span class="CostCategoryBlueLbl">
                                PROPOSED BUDGET
                            </span>
                            <ul>
                                <li>PROPOSED BUDGET 1</li>
                                <li>PROPOSED BUDGET 2</li>
                                <li>PROPOSED BUDGET 3</li>
                                <li>PROPOSED BUDGET 4</li>
                            </ul>
                        </li>
                        <li class="CostCategoryBlueLbl accordian k-state-active">
                            <span class="CostCategoryBlueLbl">
                                CURRENT BUDGET
                            </span>
                            <div id="employee-details-wrapper">
                                <div id="employee-details" class="row">
                                    <div class="k-widget k-grid k-display-block" id="grdCurrentBudget" data-role="grid">
                                        <table role="treegrid">
                                            <colgroup>
                                                <col class="k-hierarchy-col">
                                                <col style="width: 225px">
                                                <col style="width: 80px">
                                                <col style="width: 80px">
                                                <col style="width: 80px">
                                                <col style="width: 80px">
                                            </colgroup>

                                            <thead class="k-grid-header" role="rowgroup">
                                                <tr role="row">
                                                    <th></th>
                                                    <th class="k-header" data-field="LU_CATEGORY_ID" data-index="0" data-title="Cost Category" rowspan="2" scope="col" style="border-left: none;"><span class="k-link">Cost Category</span></th>
                                                    <th class="k-header" colspan="3" data-colspan="3" scope="col" style="text-align:center;"><span class="k-link">Total Current Budget</span></th>
                                                    <th class="k-header" data-aggregates="sum" data-field="APPROVED_DISCREPANCY" data-index="4" data-title="Budget<br />Adjustments" rowspan="2" scope="col">
                                                        <span class="k-link">
                                                            Budget Adjustments
                                                        </span>
                                                    </th>
                                                </tr>

                                                <tr role="row">
                                                    <th class="k-hierarchy-cell k-header" scope="col">&nbsp;</th>
                                                    <th class="k-header" data-aggregates="sum" data-field="PENNVEST" data-index="1" data-title="PENNVEST Funding" scope="col"><span class="k-link">PENNVEST Funding</span></th>
                                                    <th class="k-header" data-aggregates="sum" data-field="NON_PENNVEST" data-index="2" data-title="Other Funding Sources" scope="col"><span class="k-link">Other Funding Sources</span></th>
                                                    <th class="k-header" data-aggregates="sum" data-field="TOTAL" data-index="3" data-title="Total Project Funding" scope="col"><span class="k-link">Total Project Funding</span></th>
                                                </tr>

                                            </thead>

                                            <tfoot class="k-grid-footer">
                                                <tr class="k-footer-template">
                                                    <td class="k-hierarchy-cell">&nbsp;</td>
                                                    <td>Totals:</td>
                                                    <td>$30,426,802.00</td>
                                                    <td>$15,780.00</td>
                                                    <td>$30,442,582.00 </td>
                                                    <td>$15,353,406.00 </td>
                                                </tr>
                                            </tfoot>
                                            <tbody role="rowgroup">
                                                <tr class="k-master-row" data-uid="9a94a1b1-b53e-4459-9b9b-5e4dcc1b783d" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="" role="gridcell">1. Administrative Costs</td>
                                                    <td class="" role="gridcell">$462,183.00</td>
                                                    <td class="" role="gridcell">$7,890.00</td>
                                                    <td class="" role="gridcell">$470,073.00</td>
                                                    <td class="" role="gridcell">$462,183.00</td>
                                                </tr>
                                                <tr class="k-alt k-master-row" data-uid="dc9b63ab-f5a5-44bd-990b-b2be717a77e0" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="" role="gridcell">2. Legal Fees</td>
                                                    <td class="" role="gridcell">$12,345,440.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                    <td class="" role="gridcell">$12,345,440.00</td>
                                                    <td class="" role="gridcell">$12,345,440.00</td>
                                                </tr>
                                                <tr class="k-master-row" data-uid="a2074ad6-abac-4fe4-a653-dd05811f9ebc" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="" role="gridcell">3. Financing / Accounting Charges</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                </tr>
                                                <tr class="k-alt k-master-row" data-uid="1448a6b9-b54f-4799-8ea9-c16ffb128c9f" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="" role="gridcell">4. Interest During Construction</td>
                                                    <td class="" role="gridcell">$661,123.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                    <td class="" role="gridcell">$661,123.00</td>
                                                    <td class="" role="gridcell">$456,123.00</td>
                                                </tr>
                                                <tr class="k-master-row" data-uid="55296d8c-2e8d-43a6-bbd7-bcacbd737160" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="" role="gridcell">5. Architecture/Engineering Fees</td>
                                                    <td class="" role="gridcell">$1,061,899.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                    <td class="" role="gridcell">$1,061,899.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                </tr>
                                                <tr class="k-alt k-master-row" data-uid="86bf808c-1f72-4992-8315-4ebba34f6dd9" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="" role="gridcell">6. Permits</td>
                                                    <td class="" role="gridcell">$4,560.00</td>
                                                    <td class="" role="gridcell">$7,890.00</td>
                                                    <td class="" role="gridcell">$12,450.00</td>
                                                    <td class="" role="gridcell">$4,560.00</td>
                                                </tr>
                                                <tr class="k-master-row" data-uid="b2195d5b-3396-49f8-bb3b-ad89963afd66" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="" role="gridcell">7. Land</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                </tr>
                                                <tr class="k-alt k-master-row" data-uid="bf514bad-35ec-46c5-9336-5331e28a990a" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="" role="gridcell">8. Construction</td>
                                                    <td class="" role="gridcell">$12,542,329.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                    <td class="" role="gridcell">$12,542,329.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                </tr>
                                                <tr class="k-master-row" data-uid="7090aee8-ecb1-4c52-9e89-6cb6567cc424" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="" role="gridcell">9. Contingency</td>
                                                    <td class="" role="gridcell">$3,349,268.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                    <td class="" role="gridcell">$3,349,268.00</td>
                                                    <td class="" role="gridcell">$2,085,100.00</td>
                                                </tr>
                                                <tr class="k-alt k-master-row" data-uid="7459fbfe-1e3b-4906-bc41-53bb7d45e6eb" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="" role="gridcell">10. Other</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                    <td class="" role="gridcell">$0.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    @*<div style="overflow-x:auto;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>COST CATEGORY</th>
                                    <th>PENNVEST FUNDING</th>
                                    <th>OTHER FUNDING</th>
                                    <th>TOTAL FUNDING</th>
                                    <th>ADJUSTMENTS</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="CostCategoryBlueLbl">Administrative Costs </td>
                                    <td class="FundingLbl">$12,542,329.00</td>
                                    <td class="FundingLbl">$77,293.00</td>
                                    <td class="FundingLbl">$199,842,329.00</td>
                                    <td class="FundingLbl">$1,976.00</td>
                                    <td> <a data-toggle="modal" data-target="#Approve" class="btn btn-primary" style="border-radius:0px !important;"> REVIEW</a></td>
                                </tr>
                                <tr>
                                    <td class="CostCategoryBlueLbl">Legal Fees</td>
                                    <td class="FundingLbl">$12,542,329.00</td>
                                    <td class="FundingLbl">$77,293.00</td>
                                    <td class="FundingLbl">$199,842,329.00</td>
                                    <td class="FundingLbl">$1,976.00</td>
                                    <td> <a data-toggle="modal" data-target="#Approve" class="btn btn-primary" style="border-radius:0px !important;"> REVIEW</a></td>
                                </tr>
                                <tr>
                                    <td class="CostCategoryBlueLbl">Financing/Accounting Changes</td>
                                    <td class="FundingLbl">$12,542,329.00</td>
                                    <td class="FundingLbl">$77,293.00</td>
                                    <td class="FundingLbl">$199,842,329.00</td>
                                    <td class="FundingLbl">$1,976.00</td>
                                    <td> <a data-toggle="modal" data-target="#Approve" class="btn btn-primary" style="border-radius:0px !important;"> REVIEW</a></td>
                                </tr>
                                <tr>
                                    <td class="CostCategoryBlueLbl">Interest During Construction</td>
                                    <td class="FundingLbl">$12,542,329.00</td>
                                    <td class="FundingLbl">$77,293.00</td>
                                    <td class="FundingLbl">$199,842,329.00</td>
                                    <td class="FundingLbl">$1,976.00</td>
                                    <td> <a data-toggle="modal" data-target="#Approve" class="btn btn-primary" style="border-radius:0px !important;"> REVIEW</a></td>
                                </tr>
                                <tr>
                                    <td class="CostCategoryBlueLbl">Architecture Engineering Fees</td>
                                    <td class="FundingLbl">$12,542,329.00</td>
                                    <td class="FundingLbl">$77,293.00</td>
                                    <td class="FundingLbl">$199,842,329.00</td>
                                    <td class="FundingLbl">$1,976.00</td>
                                    <td> <a data-toggle="modal" data-target="#Approve" class="btn btn-primary" style="border-radius:0px !important;"> REVIEW</a></td>
                                </tr>
                                <tr>
                                    <td class="CostCategoryBlueLbl">Permits</td>
                                    <td class="FundingLbl">$12,542,329.00</td>
                                    <td class="FundingLbl">$77,293.00</td>
                                    <td class="FundingLbl">$199,842,329.00</td>
                                    <td class="FundingLbl">$1,976.00</td>
                                    <td> <a data-toggle="modal" data-target="#Approve" class="btn btn-primary" style="border-radius:0px !important;"> REVIEW</a></td>
                                </tr>
                                <tr>
                                    <td class="CostCategoryBlueLbl">Land</td>
                                    <td class="FundingLbl">$12,542,329.00</td>
                                    <td class="FundingLbl">$77,293.00</td>
                                    <td class="FundingLbl">$199,842,329.00</td>
                                    <td class="FundingLbl">$1,976.00</td>
                                    <td> <a data-toggle="modal" data-target="#Approve" class="btn btn-primary" style="border-radius:0px !important;"> REVIEW</a></td>
                                </tr>
                                <tr>
                                    <td class="CostCategoryBlueLbl">Construction</td>
                                    <td class="FundingLbl">$12,542,329.00</td>
                                    <td class="FundingLbl">$77,293.00</td>
                                    <td class="FundingLbl">$199,842,329.00</td>
                                    <td class="FundingLbl">$1,976.00</td>
                                    <td> <a data-toggle="modal" data-target="#Approve" class="btn btn-primary" style="border-radius:0px !important;"> REVIEW</a></td>
                                </tr>
                                <tr>
                                    <td class="CostCategoryBlueLbl">Contingency</td>
                                    <td class="FundingLbl">$12,542,329.00</td>
                                    <td class="FundingLbl">$77,293.00</td>
                                    <td class="FundingLbl">$199,842,329.00</td>
                                    <td class="FundingLbl">$1,976.00</td>
                                    <td> <a data-toggle="modal" data-target="#Approve" class="btn btn-primary" style="border-radius:0px !important;"> REVIEW</a></td>
                                </tr>
                                <tr>
                                    <td class="CostCategoryBlueLbl">Other</td>
                                    <td class="FundingLbl">$12,542,329.00</td>
                                    <td class="FundingLbl">$77,293.00</td>
                                    <td class="FundingLbl">$199,842,329.00</td>
                                    <td class="FundingLbl">$1,976.00</td>
                                    <td> <a data-toggle="modal" data-target="#Approve" class="btn btn-primary" style="border-radius:0px !important;"> REVIEW</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>*@

                                </div>
                            </div>
                        </li>
                        <li class="CostCategoryBlueLbl accordian">
                            <span class="CostCategoryBlueLbl">
                                APPROVED BUDGET
                            </span>
                            <ul>
                                <li>APPROVED BUDGET 1</li>
                                <li>APPROVED BUDGET 2</li>
                                <li>APPROVED BUDGET 3</li>
                                <li>APPROVED BUDGET 4</li>
                            </ul>
                        </li>
                        <li class="CostCategoryBlueLbl accordian">
                            <span class="CostCategoryBlueLbl">
                                SETTLEMENT BUDGET
                            </span>
                            <ul>
                                <li>SETTLEMENT BUDGET 1</li>
                                <li>SETTLEMENT BUDGET 2</li>
                                <li>SETTLEMENT BUDGET 3</li>
                                <li>SETTLEMENT BUDGET 4</li>
                            </ul>
                        </li>
                        <li class="CostCategoryBlueLbl accordian  k-state-active">
                            <span class="CostCategoryBlueLbl">
                                PAYMENT ESTIMATES
                            </span>
                            <div id="employee-details-wrapper">
                                <div id="employee-details" class="row">
                                    <div class="k-widget k-grid k-display-block k-editable" id="grdChangeOrder" data-role="grid">
                                        <div class="k-header k-grid-toolbar k-grid-top"><a class="btn btn-primary" href="/ChangeOrder/ChangeOrder_Read?ACTIVE=True&amp;grdChangeOrder-mode=insert"><span class="icon k-icon k-i-add"></span>Enter New Change Order</a></div>
                                        <table role="treegrid">
                                            <colgroup>
                                                <col class="k-hierarchy-col">
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                            </colgroup>
                                            <thead class="k-grid-header" role="rowgroup">
                                                <tr role="row">
                                                    <th class="k-hierarchy-cell k-header" scope="col">&nbsp;</th>
                                                    <th class="k-header" data-index="0" scope="col"  style="border-left: none;"><span class="k-link">&nbsp;</span></th>
                                                    <th class="k-header" data-field="SUBMITTED" data-index="1" data-title="SUBMITTED" scope="col">
                                                        <center>Submitted</center>
                                                    </th>
                                                    <th class="k-header" data-field="APPROVED" data-index="2" data-title="APPROVED" scope="col">
                                                        <center>Approved</center>
                                                    </th>
                                                    <th class="k-header" data-field="DEP_APPROVED" data-index="3" data-title="DEP_ APPROVED" scope="col">
                                                        <center>DEP Approved</center>
                                                    </th>
                                                    <th class="k-header" data-field="CHANGE_ORDER_NAME" data-index="4" data-title="Change Order Name" scope="col"><span class="k-link">Change Order Name</span></th>
                                                    <th class="k-header" data-field="DEP_REQUIRED" data-index="5" data-title="DEP Required" scope="col"><span class="k-link">DEP Required</span></th>
                                                    <th class="k-header" data-index="6" scope="col"><span class="k-link">&nbsp;</span></th>
                                                </tr>
                                            </thead>
                                            <tfoot class="k-grid-footer">
                                                <tr class="k-footer-template">
                                                    <td class="k-hierarchy-cell">&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tfoot>
                                            <tbody role="rowgroup">
                                                <tr class="k-master-row" data-uid="4e0b347b-830e-46df-a0c3-8753c9212bc9" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="icon k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="k-command-cell" role="gridcell"><a role="button" class="btn btn-primary k-grid-edit" href="#"><span class="icon k-icon k-i-edit"></span>Edit</a></td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;">
                                                            <input type="checkbox" checked="checked" disabled="disabled">
                                                        </div>
                                                    </td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;">
                                                            <input type="checkbox" checked="checked" disabled="disabled">
                                                        </div>
                                                    </td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;">
                                                            <input type="checkbox" checked="checked" disabled="disabled">
                                                        </div>
                                                    </td>
                                                    <td role="gridcell">Change Order 4044</td>
                                                    <td role="gridcell">
                                                        <input type="checkbox" checked="" disabled="disabled">
                                                    </td>
                                                    <td class="k-command-cell" role="gridcell"></td>
                                                </tr>
                                                <tr class="k-alt k-master-row" data-uid="d28e5325-9a9b-402d-8286-cfe48caf12d3" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="k-command-cell k-command-cell" role="gridcell"><a role="button" class="btn btn-primary k-grid-edit" href="#"><span class="icon k-icon k-i-edit"></span>Edit</a></td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;"><a role="button" class="btn btn-primary k-grid-Submit" href="#" onclick="showVerification(this,&quot;Submit&quot;)"><span class="icon k-icon k-i-inbox"></span>Submit</a>  </div>
                                                    </td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;">
                                                            <input type="checkbox" disabled="disabled">
                                                        </div>
                                                    </td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;">
                                                            <input type="checkbox" disabled="disabled">
                                                        </div>
                                                    </td>
                                                    <td role="gridcell">Construction Change</td>
                                                    <td role="gridcell">
                                                        <input type="checkbox" checked="" disabled="disabled">
                                                    </td>
                                                    <td class="k-command-cell k-command-cell" role="gridcell"><a role="button" class="btn btn-primary k-grid-delete" href="#"><span class="icon k-icon k-i-close"></span>Delete</a></td>
                                                </tr>
                                                <tr class="k-master-row" data-uid="49c9e601-6abf-404e-9d84-52f3d4cfddd0" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="k-command-cell" role="gridcell"><a role="button" class="btn btn-primary k-grid-edit" href="#"><span class="icon k-icon k-i-edit"></span>Edit</a></td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;">
                                                            <input type="checkbox" checked="checked" disabled="disabled">
                                                        </div>
                                                    </td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;"><a role="button" class="btn btn-primary k-grid-Submit" href="#" onclick="showVerification(this,&quot;Approve&quot;)"><span class="icon k-icon k-i-check-outline"></span>Approve</a>  </div>
                                                    </td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;">
                                                            <input type="checkbox" checked="checked" disabled="disabled">
                                                        </div>
                                                    </td>
                                                    <td role="gridcell">test</td>
                                                    <td role="gridcell">
                                                        <input type="checkbox" checked="" disabled="disabled">
                                                    </td>
                                                    <td class="k-command-cell" role="gridcell"><a role="button" class="btn btn-primary k-grid-delete" href="#"><span class="icon k-icon k-i-close"></span>Delete</a></td>
                                                </tr>
                                                <tr class="k-alt k-master-row" data-uid="0f784de0-fbd8-43cc-9f21-8d6d21c417cd" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="k-command-cell k-command-cell" role="gridcell"><a role="button" class="btn btn-primary k-grid-edit" href="#"><span class="icon k-icon k-i-edit"></span>Edit</a></td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;">
                                                            <input type="checkbox" checked="checked" disabled="disabled">
                                                        </div>
                                                    </td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;">
                                                            <input type="checkbox" checked="checked" disabled="disabled">
                                                        </div>
                                                    </td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;"><a role="button" class="btn btn-primary k-grid-Submit" href="#" onclick="showVerification(this,&quot;DEP Approved&quot;)"><span class="icon k-icon k-i-check-outline"></span>DEP Approved</a>  </div>
                                                    </td>
                                                    <td role="gridcell">Test 2</td>
                                                    <td role="gridcell">
                                                        <input type="checkbox" checked="" disabled="disabled">
                                                    </td>
                                                    <td class="k-command-cell k-command-cell" role="gridcell"></td>
                                                </tr>
                                                <tr class="k-master-row" data-uid="656dadbf-63c1-47b0-9b35-f8306f89f37c" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="k-command-cell" role="gridcell"><a role="button" class="btn btn-primary k-grid-edit" href="#"><span class="icon k-icon k-i-edit"></span>Edit</a></td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;">
                                                            <input type="checkbox" checked="checked" disabled="disabled">
                                                        </div>
                                                    </td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;">
                                                            <input type="checkbox" checked="checked" disabled="disabled">
                                                        </div>
                                                    </td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;">N/A  </div>
                                                    </td>
                                                    <td role="gridcell">TEST CHANGE ORDER</td>
                                                    <td role="gridcell">
                                                        <input type="checkbox" disabled="disabled">
                                                    </td>
                                                    <td class="k-command-cell" role="gridcell"></td>
                                                </tr>
                                                <tr class="k-alt k-master-row" data-uid="3dd49511-a5c9-40ac-a293-0ccb26fb398a" role="row">
                                                    <td class="k-hierarchy-cell" aria-expanded="false"><a class="k-icon k-i-expand" href="#" aria-label="Expand" tabindex="-1"></a></td>
                                                    <td class="k-command-cell k-command-cell" role="gridcell"><a role="button" class="btn btn-primary k-grid-edit" href="#"><span class="icon k-icon k-i-edit"></span>Edit</a></td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;"><a role="button" class="btn btn-primary k-grid-Submit" href="#" onclick="showVerification(this &quot; Submit&quot;)"><span class="icon k-icon k-i-inbox"></span>Submit</a>  </div>
                                                    </td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;">
                                                            <input type="checkbox" disabled="disabled">
                                                        </div>
                                                    </td>
                                                    <td role="gridcell">
                                                        <div style="text-align: center;">N/A  </div>
                                                    </td>
                                                    <td role="gridcell">TEST111</td>
                                                    <td role="gridcell">
                                                        <input type="checkbox" disabled="disabled">
                                                    </td>
                                                    <td class="k-command-cell k-command-cell" role="gridcell"><a role="button" class="btn btn-primary k-grid-delete" href="#"><span class="icon k-icon k-i-close"></span>Delete</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="Approve" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="left:0% !important;">
        <div class="modal-content">

            <div class="modal-headers">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <table class="col-md-12">
                    <tr>
                        <td class="product-name"> $199,842,329.00</td>
                    </tr>
                    <tr class="spaceUnder">
                        <td>
                            <p class="ContractPopupText">PENNVEST FUNDING</p>
                        </td>
                    </tr>
                    <tr class="col-md-12" style="margin-top:20px"></tr>
                    <tr>
                        <td>
                            <p class="ContractPopupText">Other Funding Source: $0.00</p><br />
                            <p class="ContractPopupText"> Hold Back: $0.00</p><br />
                            <p class="ContractPopupText">Total Disbursement: $564,126.00</p>
                        </td>
                    </tr>
                    <tr class="col-md-12" style="margin-top:20px"></tr>
                    <tr>
                        <td>
                            <p class="ContractPopupText">
                                By completing the action you acknowledge that you have taken every necessary step.
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button type="button" class="btnPopup btn btn-primary pull-left" style="border-radius: 0px !important" data-dismiss="modal">CANCLE</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btnPopup btn btn-primary pull-right" style="border-radius: 0px !important" data-dismiss="modal">APPROVE</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Accordian.js"></script>